{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container-lg">
    <div class="row justify-content-end">
        <div class="col-4">
            <button id="createbtn" class="btn btn-dark m-2">Create Post</button>
        </div>
    </div>
    <div id='postform'>
        <div class="row justify-content-center">
            <div class="col-auto">
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h3 class="fw-bold text-center">Create Post</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                    <form method="POST" action={% url 'index' %} enctype="multipart/form-data" class="m-2">
                        {{ form|crispy }}
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-dark col-auto m-2"></input>
                            <button id="backbtn" class="btn btn-dark m-2 col-auto">Go back</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div id='posts'>
    {% for post in posts %}
    <div class="container-sm">
        <div class="row justify-content-center p-2">
            <div class="col-md-4 border border-3 rounded-5 bg-secondary bg-opacity-25">
                <div class="row justify-content-center p-3 px-2">
                    <h3 class="tw-bold text-start">
                        {{post.poster}}
                    </h3>
                    <img src="{{post.image.url}}" class="img-thumbnail p-0 m-0" alt="postphoto">
                    <i class="bi bi-heart-fill fs-1 text-secondary"> {{post.likers.all|length }} Likes</i>
                    <p class="tw-bold my-2">{{post.poster}}: {{post.title}}</p>
                    <p>{{post.body}}</p>
                    <p class="text-muted">Posted at {{post.post_time}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div

{% endblock %}