{% extends "network/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


{% if user.is_authenticated %}
<div class="container-lg">
    <div class="row justify-content-end">
        <div class="col-4">
            <button id="createbtn" class="btn btn-dark m-2">Create Post</button>
        </div>
    </div>
    <div id='postform'>
        <div class="row justify-content-center">
            <div class="col-auto">
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h3 class="fw-bold text-center">Create Post</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                    <form method="POST" action={% url 'index' %} enctype="multipart/form-data" class="m-2">
                        {{ form|crispy }}
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-dark col-auto m-2"></input>
                            <button id="backbtn" class="btn btn-dark m-2 col-auto">Go back</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{% static 'network/script.js' %}"></script>
<div id='posts'>
    {% for post in posts %}
    <div class="container-sm">
        <div class="row justify-content-center p-2">
            <div class="col-md-4 border border-3 rounded-5 bg-secondary bg-opacity-25">
                <div class="row justify-content-center p-3 px-2">
                    <a class="text-decoration-none" href="{%url 'profile' prof_id=post.poster.id%}">
                        <h3 class="text-black text-decoration-none tw-bold text-start">
                            {{post.poster}}
                        </h3>
                    </a>
                    {% if post.poster == request.user %}
                    <div class="row justify-content-end">
                        <button type="button" id="button-{{post.id}}" onClick="edit(this.id)" class='edit-btn btn w-25 btn-dark'>Edit</button>
                    </div>
                    {% endif %}
                    <img src="{{post.image.url}}" class="img-thumbnail p-0 m-0" alt="postphoto">
                    <i class="bi bi-heart-fill fs-1 text-secondary"> {{post.likers.all|length }} Likes</i>
                    <p class="tw-bold my-2">{{post.poster}}: {{post.title}}</p>
                    <p>{{post.body}}</p>
                    <p class="text-muted">Posted at {{post.post_time}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a></li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ posts.number }}</span>
                    </li>
                    
                    {% endif %}
                    
                    {% if posts.has_next %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ posts.number }}</span>
                    </li>
                    <li class="page-item"><a class="page-link"href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>
                    
                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div

{% endblock %}