{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div id="prof_id" class="d-none">{{profile.id}}</div>
<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-sm-6 p-3 m-5 border rounded-5 border-3 bg-secondary bg-opacity-25">
            <div class="row">
                <h2 class="fw-bold">{{profile.username}}'s profile</h2>
            </div>
            <div class="row">
                <h4 class="text-end col">Following: {{profile.following.all|length}}</h4> <h4 id="followers" class="col">Followers: {{profile.followers.all|length}}</h4>
            </div>
            {% if user.is_authenticated and user.username != profile.username %}
            <div class="row justify-content-end">
                {% if me %}
                <button id="followbtn" class="btn btn-dark w-25 m-2">Following</button>
                {% else %}
                <button id="followbtn" class="btn btn-dark w-25 m-2">Follow</button>
                {% endif %}
            </div>
            {% endif %}
            
            {% for post in posts%}
            <div class="container-sm">
                <div class="row justify-content-center p-2">
                        <div class="row justify-content-center p-3 px-2 border bg-white rounded-5 border-3">
                            <h3 class="tw-bold text-start">
                                {{post.poster}}
                            </h3>
                            {% if post.poster == request.user %}
                            <div class="row justify-content-end">
                                <button type="button" id="button-{{post.id}}" onClick="edit(this.id)" class='btn w-50 btn-dark'>Edit</button>
                            </div>
                            {% endif %}
                            <img src="{{post.image.url}}" class="img-thumbnail p-0 m-0" alt="postphoto">
                            <i class="bi bi-heart-fill fs-1 text-secondary"> {{post.likers.all|length }} Likes</i>
                            <p id="title-{{post.id}}" class="tw-bold my-2">{{post.poster}}: {{post.title}}</p>
                            <p id="body-{{post.id}}">{{post.body}}</p>
                            <p id="time-{{post.id}}" class="text-muted">Posted at {{post.post_time}}</p>
                            <input type="button" value="Change" class="submitbutton d-none btn btn-dark"></input>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}